.header {
  padding: 0px;
  text-align: center;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 18px;
  width: 100%;
  height: 100px;
  display: block;
  background-color: #363535;
}


 .inner_header {
   width: 1000px;
   height: 100%;
   display: block;
   margin: 0 auto;
 }

.logo_container {
  height: 100%;
  display: table;
  float: left;
}



.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a{
height: 100%;
display: table;
float: left;
padding: 0px 20px;
}



.navigation a li{
display: table-cell;
vertical-align: middle;
height: 100%;
color: white;
font-family: Century Gothic;
font-size: 16px;
}
 
a:hover {
background-color:rgb(0, 0, 0)
}

h1 
{
  color: #ffffff;
  background-color: #363535;
  font-family: Century Gothic;
  border-radius: 55px;
}

body {
  background-color: black;
}

img {
  size: 300px;
}

h3 {

  font-family: Century Gothic;
  font-weight: 100;
  
  font-size: 35px;
}

.footer 
{
  background-color: #363535;
  height: 100px;
  


}
h2 {
  vertical-align: middle;
  font-size: 40px;
}